*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: "MHei PRC Medium";
}

.inline-block{
    display: inline-block;
}

h1{
    vertical-align: middle;
    font-size: 45px;
}

.logo{
    vertical-align: middle;
    width: auto;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

body{
    background-color: #F6F8FA;
}

header{
    background-color: white;
}

.container{
    background-color: white;
    width: 80%;
    margin: 40px 180px;
    border-radius: 5px;
    padding: 1% 5% 5% 5%;
}

.task-button{
    background-color: #3DAFED;
    color: white;
    padding: 6px 10px;
    border-radius: 5px;
    margin-right: 2px;
}

.task-section{
    background-color: white;
    color: #D6D8D8;
    border: solid #D6D8D8;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    border-width: 1px;
}

h3{
    margin: 50px 0px 0px 0px;
    font-size: 25px;
}

.list-item{
    margin: 15px 0px 0px 0px;
}

.circle{
    border-radius: 50%;
    font-size: 15px;
    width: 20px;
    height: 20px;
    text-align: center;
}

.green{
    border: solid rgb(25, 172, 25);
    color: rgb(25, 172, 25);
    border-width: 1px;
}

.red{
    border: solid rgb(180, 17, 17);
    border-width: 1px;
    color: rgb(180, 17, 17);
}

.small-black-text{
    margin: 10px 5px 0px 8px;
    font-size: 20px;
}

.button{
    color: white;
    padding: 6px 10px;
    border-radius: 20px;
    margin-right: 2px;
}

.blue-button{
    background-color: #3DAFED;
}

.purple-button{
    background-color: #9973DF;
}

.green-button{
    background-color: #68C2AA;
}

.orange-button{
    background-color: #EBA137;
}

.pink-button{
    background-color: #D1699C;
}

.lime-button{
    background-color: #AFC81F;
}

/* &#10003 checkmark */
/* &#10005 crossmark */

